
.container {
  width: 97%;
  margin: 0 auto;
  padding-top: 1  0px;
}

.slick-slider {
    margin: 30px auto 50px;
    width: auto;
}

.card {
  padding: 11px;
  height: 90px;
  position: relative;
  margin: 10px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
  border-top: 6px solid #D8D8D8;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.cardbox img {
  width: 10%;
  height: 90%;
  margin-top: -2px;
  margin-right: 15px;
}

.cardbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card h4 {
  text-transform: uppercase;
  color: #3E4042;
  font-weight: 900;
  font-size: 22px;
  margin-right: 20px;
}

.card:hover {
  border-top: 6px solid #0080AD;
  cursor: pointer;
  transform: translateY(0px);
}

.card p {
  line-height: 1.5;
}


.slick-prev {
  background: black;
}

.slick-next {
  background: black;
}

.slick-dots li {
  margin: 0 16px;
}

.slick-dots li button:before {
  content: " ";
  background: #D8D8D8;
  opacity: 1;
  height: 4px;
  width: 40px;
}

.slick-dots li.slick-active button:before {
  content: " ";
  background: #0080AD;
  opacity: 1;
  height: 4px;
  width: 40px;
}
